#loginblock {
  width: 30%;
  margin-top: 10%;
  margin-left: 35%;
}

#loginlogo {
  text-align: center;
  margin-bottom: 20pt;
}

#loginform {
  margin-left: 30%;
  margin-right: 30%;
}

#logincontrols {
  text-align: center;
  margin-top: 10pt;
}
