<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Вход в систему</title>
    <link rel="stylesheet" href="/resources/static/css/main.css" />
    <link rel="stylesheet" href="/resources/static/css/login.css" />
  </head>
  <body>
    <div id="loginblock" class="block">
      <div id="loginlogo">
        <img src="/resources/static/images/awesome-inactive.png" />
      </div>
      <form id="loginform">
          Имя пользователя: <input type="text" class="field" name="user" />
          <br />
          Пароль: <input type="text" class="field" name="password" />
          <br />
        <button class="btn info" type="submit">Вход</button>
        </div>
      </form>
      <div style="clear: both;" />
    </div>
  </body>
</html>
